# Ignore Python virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore environment configuration
.env

#Ignore other potentially unwanted files/folders
.Lingvoviz/